/* line 6, ../_sass/screen.scss */
* {
  background-repeat: no-repeat;
}

/* line 12, ../_sass/screen.scss */
body {
  background: #eed7a1;
}

.navbar {
    text-align: center;
    width: 100%;
    background-color: #996633;
    height: 40px;
    padding-top: 10px;
    position: fixed;
    z-index: 1;
}
/*I added this intro class to give the intro more presence*/
.intro {
  font-size: 1.5em;
}

li {
    display: inline;

}

li a {
    padding: .4em 1em;
    border-right: 1px solid #fff;
    color: white;
}

.flag {
    position: absolute;
    top: 20px;
    left: -300px;
    width: 100%;
}

.fa-bookmark {
    font-size: 7em;
    color: #CCFFFF;
}

.fa-pinterest-square {
    color: #336666;
    font-size: 2.5em;
    position: relative;
    top: -35px;
    left: -55px;
    z-index: 9;
}

/* line 16, ../_sass/screen.scss */
.content {
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

/* line 22, ../_sass/screen.scss */
.masthead {
  text-align: center;
  padding: 70px 0 25px 0;
}

/* line 28, ../_sass/screen.scss */
.head-image {
  border-radius: 50%;
  width: 275px;
  height: 275px;
}

/* line 34, ../_sass/screen.scss */
h1 {
  font-family: 'Damion', cursive;
  font-size: 4em;
  color: #336666;
}

h3 {
    color: #336699;
}

.about {
  text-align: center;
  height: 350px;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 50px;
}

.about-portrait {
  width: 110px;
  border-radius: 50%;
  margin-right: 20px;
}

.post {
    width: 80%;
    background-color: white;
    margin-top: 5px;
    padding-bottom: 10px;
}
.post-image {
    padding-top: 10px;
    width: 100%;
}
.fa-comment-o {
    margin-top: 15px;
    padding-left: 15px;
    font-size: 2em;
    color: #cc6699;
}
.date {
    margin-top: 20px;
    border-top: 1px solid #336699;
    border-bottom: 1px solid #336699;
    color: #336699;
}

.tutorial-main {
    text-align: center;
  height: 175px;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 50px;
}

.tutorial-pic {
    width: 80%;
}

.tutorial {
    margin: 0 auto;
    padding-top: 10px;
}

.steps {
    padding: 25px;
}

.materials {
    list-style-type: circle;

}


@media screen and (min-width: 800px) {
  /* line 40, ../_sass/screen.scss */
  body {
    background: #eed7a1;
  }
}
