<!doctype html>
<html>
<head>
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap.full.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/screen.css" media="all">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round|Damion' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen, projection">
    <![endif]-->
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="tutorials.html">Tutorials</a></li>
      <li><a href="resources.html">Resources</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->

<div class="flag">
    <i class="fa fa-bookmark"></i>
    <i class="fa fa-pinterest-square"></i>
</div>

</nav>





<div class="container">
    {{ content }}
</div>

</body>
</html>
